body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-color-black {
  background-color: black;
}

.bgColor-dark {
  background-color: #212529;
}

.bgColor-white {
  background-color: white;
}

.color-white {
  color: white;
}

.margin-left-10{
  margin-left: 10px;
}

.margin-left-20 {
  margin-left: 25%;
  padding: 1px 16px;
}

.padding-10{
  padding: 10px;
}

.padding-20{
  padding: 20px;
}

.padding-30{
  padding: 30px;
}

.padding-top-30 {
  padding-top: 30px;
}

.padding-top-50 {
  padding-top: 50px;
}

.padding-lr-20{
  padding-left: 20px;
  padding-right: 20px;
}

.padding-lr-60{
  padding-left: 60px;
  padding-right: 60px;
}

.margin-lr-20{
  margin-left: 20px;
  margin-right: 20px;
}

.text-decoration-line-none {
  text-decoration-line: none;
}

.ulSide {
  list-style-type: none;
  background-color: #666;
  width: 12%;
  /* padding: 0; */
  margin: 0;
  position: fixed;
  padding: 10px;
  border: 1px solid wheat;
  border-radius: 5px;
  /* height: 100%; */
  overflow: auto;
}

.center {
  text-align: center;
}

br{
  padding-top: 30px;
}

table{
  border-collapse: collapse;
  border-radius: 10px;
  border-style: hidden;
  overflow: hidden;
  box-shadow: 0 0 0 1px #666;
  font-size: 0.85em;
  text-align: center;
}

.border-0_5{
  border: 1px solid rgba(255,255,255,0.5);
}

.border-radius-10{
  border-radius: 10px;
}

.border-radius-20{
  border-radius: 20px;
}

.font-size-08em{
  font-size: 0.8em;
}

.font-bold{
  font-weight: bold;
}

.text-align-end{
  text-align: end;
}